<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<h1 id="header">The Kevin Baconator</h1>
<form action="/submit" method="POST">
  <label>Find an actor:</label>
  <input type="text" name="act">
  <br><br>
  <button type="submit">Search for Actor</button>
</body>
</html>
