<html>
<head>
</head>
<body>
<h1>The Kevin Baconator</h1>
<form action="/submit" method="POST">
  <label>Find an actor:</label>
  <input type="text" name="act">
  <br><br>
  <button type="submit">Search for Actor</button>
  <ul>
    <li>Total results: {{result.total_results}}</li>
    <li>First result: {{name}}</li>
    <li>First result ID: {{id}}</li>
    <li>First result popularity: {{popularity}}</li>
  </ul>
</body>
</html>
